.Hero {
  background-color: white;
  color: #6fbcf4;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Hero h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.Avatar {
  border-radius: 50%;
  max-height: 300px;
  width: max-content;
  margin: 50px;
}

.subTitle {
  font-size: 27px;
  margin-top: 5px;
}

.heroHeadings {
  text-align: left;
}

.curved {
  background: #10107a;
  color: #ffff;
  text-align: center;
}

.curved h2 {
  font-size: 6rem;
  margin-bottom: 5px;
  margin-top: 0;
}

.curved p {
  font-size: 1rem;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.curved svg {
  display: block;

}

.curved.upper {
  background: #ffff;
}