@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&display=swap');

.navbar {
  display: flex;
  align-items: center;
  background-color: #86a8e7;
}

.navbarLinks {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}

.navbarLinksItems {
  margin: 0;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.navbarLinksLanding {
  margin: 0;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.name {
  font-size: 20px;
}

.navbarLinks li {
   color: white;
   font-family: 'Arima', cursive;
}

.navbarLinksItems:hover {
  text-decoration: underline;
  color: white;
}
